/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */
/*Start Components*/
.main-heading {
    text-align: center;


}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    position: relative;
    text-transform: uppercase;
}

.main-heading h2::before {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -37px;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: White;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

/*End Components*/
/*Start Header*/
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px;
    z-index: -1;
}

header .logo {
    height: 30px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width: 766px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width: 766px) {
    header nav ul {
        display: none;
    }
}

header nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}

header nav .toggle-menu:hover+ul a {
    padding: 15px;
}

header nav li {
    display: inline-block;
}

header nav li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
    transition: 0.2s;
    padding: 50px 10px;
    z-index: 3;
}

header nav li a:hover,
header nav li .active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}


header nav .form {
    border-left: 1.5px solid White;
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;

}

header nav .form i {
    color: white;
    padding: 20px;
    font-size: 20px;
    position: absolute;
    top: -15px;
    transition: 0.3;
}

header nav .form i:hover {
    color: var(--main-color);
    font-size: 30px;
    transform: translateY(-15px);
}

.toggle-menu {
    color: white;
    font-size: 22px;
}

/*End Header*/
/*Start Landing*/
.landing {
    min-height: 100vh;
    background-image: url('../Images/landing.jpg');
    background-size: cover;
    background-color: #1f2021;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;

}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;

}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

@media (max-width:766px) {
    .landing .change-background {
        display: none;
    }

    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;

    }
}


.landing .fa-angle-left {
    left: 30px;
    transition: 0.3s;
}

.landing i:hover {
    font-size: 40px;

}

.landing .fa-angle-right {
    right: 30px;
    transition: 0.3s;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3;
}

.landing .bullets .active {
    background-color: var(--main-color);
    color: var(--main-color);

}

.landing .bullets li:hover {
    width: 25px;
    height: 25px;
    transform: translateY(-2.5px);

}

.landing .bullets li:hover:not(.active) {
    background-color: rgb(15 116 143 / 100%);
}

/*End Landing*/
/*Strat Services*/
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 767px) {
    .services .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 230px;
        grid-row-gap: 100px;
    }

    .service {
        position: relative;

    }

    .services .service i {
        margin-right: 50px;
        position: absolute;
        left: -70px;
        top: -10px;
    }


}

@media (max-width: 766px) {
    .services .service {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .service i {
        margin: 0 auto 30px;
        left: 50%;
        top: -40px;
    }
}

@media (max-width: 1309px) {
    .services .services-content {
        padding: 50px;

    }


}

.services .service h3 {
    margin-bottom: 30px;
    flex-basis: 100%;
    color: var(--main-color);
}

.services .service p {
    line-height: 2;
    color: #777;
}

/*End Services*/
/*Start Design*/
.design {
    height: 650px;
    background-image: url('../Images/design-features.jpg');
    background-size: cover;
    background-color: #1f2021;
    position: relative;
    overflow: hidden;
    z-index: -7;
}

.design .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: -1;
}

.design .text {
    position: absolute;
    right: 0;
    top: 137.5px;

    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    z-index: 3;

}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text li i {
    font-size: 20px;
    margin-bottom: 20px;
    margin-right: 15px;

}

.design .text li {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: normal;
}

.mobile {
    z-index: 5;
    position: absolute;
    bottom: -100px;
    left: 350px;
    transition: 0.3;
}

.mobile:hover {
    bottom: 20px;
}

@media (max-width:766px) {
    .design .mobile {
        display: none;
    }

    .design .text {
        width: 100%;
    }

    .landing .text {
        max-width: 100%;

    }
}

@media (min-width:767px) {
    .design .mobile {
        left: 0
    }
}

@media (min-width:1307px) {
    .design .mobile {
        left: 250px;
    }
}


/*End Design*/
/*Start Portfolio*/
.portfolio {
    text-align: center;
}

.portfolio .container {
    margin-top: 100px;
}

.portfolio .shuffle li {
    display: inline-block;
    padding: 10px;
    font-weight: normal;

}

.portfolio .shuffle .active {
    background-color: #19c8fa;
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

@media (min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .imgs-container .box .caption {
    left: 0;
    text-align: start;
    padding: 20px;
    position: absolute;
    bottom: -100%;
    background-color: white;
    width: 100%;
    transition: 0.3s;
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
    font-weight: normal;
    font-size: 13px;
    color: var(--main-color);
}

.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}

/*End Portfolio*/
/*start Vidoe*/
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}

@media (max-width:400px) {

    .video .text button {
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50px);
    }
}

/* End Video */
/*Start About*/
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width: 766px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/*End About*/
/*Start Stats*/
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url("../Images/stats.png");
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width: 766px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 767px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 991px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 14px;
}

/*End Stats*/
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .container>div>h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container>div>p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

@media (max-width: 767px) {
    .our-skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testimonials .content img {
        margin: 0 auto 20px;
    }
}

.our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.our-skills .testimonials .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.3;
}

.our-skills .testimonials .bullets li:hover {
    width: 18px;
    height: 18px;
    transform: translateY(-2.5px);
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -17px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -7px;
    top: -15px;
}

/* End Skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../Images/quote.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

.quote .container {
    position: relative;
}

.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

/* End Quote */
/* Start Pricing */